
<EditForm Model="@Vehicle" OnValidSubmit=@SaveVehicle>
    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />


    <div class="form-group">
        <label for="Car" class="form-label">
            @Localizer["Model"]
        </label>
        <InputSelect class="form-control" id="Car" @bind-Value="SelectedModelId">
            <option value="">-- Select Car --</option>
            @foreach (var Model in _models)
            {
                <option value="@Model.Id">@Model.ModelName</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Vehicle.BrandId)" />
    </div>

    <div class="form-group">
        <label for="Brand">@Localizer["Brand"]</label>
        <InputSelect id="Brand" class="form-control" @bind-Value="SelectedBrandId">
            <option value="">-- Select Brand --</option>
            @foreach (var brand in _brands)
            {
                <option value="@brand.Id">@brand.BrandName</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Vehicle.BrandId)" />
    </div>

    <div class="form-group">
        <label for="Energy">@Localizer["Energy"]</label>
        <InputSelect id="Energy" class="form-control" @bind-Value="SelectedEnergy">
            <option value="">-- Select Energy --</option>
            @foreach (var energy in _energies)
            {
                <option value="@energy">@energy</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Vehicle.Energy)" />
    </div>

    <div class="form-group">
        <label for="LicensePlate" class="form-label">
            @Localizer["LP"]
        </label>
        <InputText id="LicensePlate" class="form-control" @bind-Value="Vehicle.LicensePlate" />
        <ValidationMessage For="@(() => Vehicle.LicensePlate)" />
    </div>

    <div class="form-group">
        <label for="Year">
            <strong>
                @Localizer["Year"]
            </strong>
        </label>
        <InputNumber id="Year" class="form-control" @bind-Value="Vehicle.Year" />
        <ValidationMessage For="@(() => Vehicle.Year)" />
    </div>

    <div class="form-group">
        <label for="Mileage">@Localizer["Mileage"]</label>
        <InputNumber id="Mileage" class="form-control" @bind-Value="Vehicle.Mileage" />
        <ValidationMessage For="@(() => Vehicle.Mileage)" />
    </div>

    <Button Type="ButtonType.Submit"  class="btn btn-primary form-control" >@Localizer["BtnSave"]</Button>
</EditForm>
