@inject IModelServices ModelService


<Button class="btn btn-primary" @onclick="AddModel">Add Model</Button>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Maintenance Frequency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (_models != null)
            {
                @foreach (var model in _models)
                {
                    <tr>
                        <td>@model.Id</td>
                        <td>@model.ModelName</td>
                        <td>@model.MaintenanceFrequency km</td>
                        <td>
                            <button class="btn btn-primary" @onclick="()=>EditModel(model.Id)">Edit</button>
                            <button class="btn btn-danger" @onclick="()=>DeleteModel(model.Id)">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>No models found</p>
            }

        </tbody>
    </table>
    
</div>


<Modal @ref=@_modalRef>

    <ModalContent Size="ModalSize.Large" Centered>
        <ModalHeader>
            <ModalTitle>Add Vehicle Title</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <EditForm Model="@Model" OnSubmit=@SaveModel>
                <DataAnnotationsValidator />
                <Microsoft.AspNetCore.Components.Forms.ValidationSummary />


                <div class="form-group">
                    <label for="Car" class="form-label"> Model
                    </label>
                    <InputText class="form-control" id="Car" @bind-Value="Model.ModelName" />
                    <ValidationMessage For="@(() => Model.ModelName)" />
                </div>

                <div class="form-group">
                    <label for="Brand">Brand </label>
                    <InputSelect id="Brand" class="form-control" @bind-Value="SelectedBrand">
                        <option value="">-- Select Brand --</option>
                        @foreach (var brand in _brands)
                        {
                            <option value="@brand.Id">@brand.BrandName</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Model.BrandId)" />
                </div>


                <div class="form-group">
                    <label for="Year">
                        <strong>
                            MaintenanceFrequency
                        </strong>
                    </label>
                    <InputNumber id="MaintenanceFrequency" class="form-control" @bind-Value="Model.MaintenanceFrequency" />
                    <ValidationMessage For="@(() => Model.MaintenanceFrequency)" />
                </div>
                <Button Type="ButtonType.Submit" class="btn btn-primary form-control">Save</Button>
            </EditForm>
        </ModalBody>

    </ModalContent>

</Modal>
