@page "/vehicledetail/{Id:guid}"
@using FleetManagement.Pages

@inject IStringLocalizer<VehicleList> Localizer

<h3>Vehicle Detail</h3>

<!-- button to add maintenance -->
<button class="btn btn-primary" @onclick="() => AddMaintance()">Add Maintenance</button>

<!-- display vehicle details -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            @if(Vehicle is not null)
            {
                <div class="card-header">
                    <h3>@Vehicle.LicensePlate</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Brand:</strong> @Vehicle.Brand?.BrandName</p>
                            <p><strong>Model:</strong> @Vehicle.Model?.ModelName</p>
                            <p><strong>Year:</strong> @Vehicle.Year</p>
                            <p><strong>Mileage:</strong> @Vehicle.Mileage</p>
                            <button class="btn btn-primary" @onclick="() => EditVehicle()">Edit</button>
                        </div>
                        <div class="col-md-6">

                            <h4>Maintenances</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Works</th>
                                        <th>Mileage</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Vehicle.Maintainances is not null && Vehicle.Maintainances.Any())
                                    {
                                        @foreach (var maintenance in Vehicle.Maintainances)
                                        {
                                            <tr>
                                                <td>@maintenance.Works</td>
                                                <td>@maintenance.Mileage</td>
                                                <td>@maintenance.Date</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3">No maintenance found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



<Modal @ref=@_modalRef>

    <ModalContent Size="ModalSize.Large" Centered>
        <ModalHeader>
            <ModalTitle>Add Maintenance</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <EditForm Model="@Maintenance" OnValidSubmit="SaveMaintainance">
                <DataAnnotationsValidator />
                <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

                <div class="form-group">
                    <label for="Work" class="form-label">
                        Work
                    </label>
                    <InputTextArea class="form-control" id="Work" @bind-Value="Maintenance.Works" />
                    <ValidationMessage For="@(() => Maintenance.Works)" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </ModalBody>
    </ModalContent>

</Modal>


<Modal @ref=@_modalVehicle>

    <ModalContent Size="ModalSize.Large" Centered>
        <ModalHeader>
            <ModalTitle>Add Vehicle Title</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <FleetManagement.Components.EditVehicleComponent Vehicle="Vehicle"  OnSave="VehicleEdited" Localizer="Localizer" />
        </ModalBody>

    </ModalContent>

</Modal>