@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> Localizer

<PageTitle>Home</PageTitle>

<h1>@Localizer["LateVehicleTitle"]</h1>

@* <FleetManagement.Components.VehicleListComponent/> *@

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Localizer["Id"]</th>
                    <th>@Localizer["Brand"]</th>
                    <th>@Localizer["Model"]</th>
                    <th>@Localizer["Year"]</th>
                    <th>@Localizer["LP"]</th>
                    <th>@Localizer["Mileage"]</th>
                </tr>
            </thead>
            <tbody>
                @if (Vehicles.Any())
                {
                    @foreach (var vehicle in Vehicles)
                    {
                        <tr>
                            @if (vehicle != null)
                            {
                                <td>
                                    <a href="/vehicledetail/{@vehicle.Id}">@vehicle.Id</a>
                                </td>
                                <td>@vehicle.Brand.BrandName</td>
                                <td>@vehicle.Model.ModelName</td>
                                <td>@vehicle.Year</td>
                                <td>@vehicle.LicensePlate</td>
                                <td>@vehicle.Lateness Km</td>
                            }

                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="5">@Localizer["NoVehicles"]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
