@page "/vehiclelist"
@inject IStringLocalizer<VehicleList> Localizer

<h3>@Localizer["VehicleTitle"]</h3>

<button class="btn btn-primary" @onclick="AddVehicle">
    @Localizer["BtnAddVehicle"]</button>

<Modal @ref=@_modalRef>

    <ModalContent Size="ModalSize.Large" Centered>
        <ModalHeader>
            <ModalTitle>@Localizer["AddVehicleTitle"]</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <FleetManagement.Components.EditVehicleComponent Vehicle="Vehicle" Localizer="Localizer" OnSave="VehicleEdited" />
        </ModalBody>

    </ModalContent>

</Modal>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Localizer["Brand"]</th>
                    <th>@Localizer["Model"]</th>
                    <th>@Localizer["Year"]</th>
                    <th>@Localizer["LP"]</th>
                    <th>@Localizer["Mileage"]</th>
                    <th>@Localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @if (Vehicles.Any())
                {
                    @foreach (var vehicle in Vehicles)
                    {
                        <tr>
                            @if (vehicle != null)
                            {
                                <td>
                                    <a href="/vehicledetail/{@vehicle.Id}">@vehicle.Brand.BrandName</a>
                                </td>
                                <td>@vehicle.Model.ModelName</td>
                                <td>@vehicle.Year</td>
                                <td>@vehicle.LicensePlate</td>
                                <td>@vehicle.Mileage Km</td>
                                <td>
                                    <button class="btn btn-primary" @onclick="() => EditVehicle(vehicle)">Edit</button>
                                    <button class="btn btn-danger" @onclick="() => DeleteVehicle(vehicle)">Delete</button>
                                    <button class="btn btn-info" @onclick="() => ShowVehicleDetail(vehicle.Id)">Detail</button>
                                </td>
                            }

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">@Localizer["NoVehicles"]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>




