@page "/vehiclelist"
@using System.Globalization
@using Microsoft.Extensions.Localization
@using Shared.ApiModels
@inject IStringLocalizer<VehicleList> Localizer

<h3>@Localizer["VehicleTitle"]</h3>

<button class="btn btn-primary" @onclick="AddVehicle">
    @Localizer["BtnAddVehicle"]</button>

            <Modal @ref=@_modalRef>

    <ModalContent Size="ModalSize.Large" Centered>
        <ModalHeader>
            <ModalTitle>@Localizer["AddVehicleTitle"]</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <FleetManagement.Components.EditVehicleComponent Vehicle="Vehicle" Localizer="Localizer"/>
        </ModalBody>

    </ModalContent>

</Modal>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Localizer["Id"]</th>
                    <th>@Localizer["Brand"]</th>
                    <th>@Localizer["Model"]</th>
                    <th>@Localizer["Year"]</th>
                    <th>@Localizer["LP"]</th>
                    <th>@Localizer["Mileage"]</th>
                    <th>@Localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Vehicles)
                {
                    <tr>
                        @if (vehicle != null)
                        {
                            <td>
                                <a href="/vehicledetail/{@vehicle.Id}">@vehicle.Id</a>
                            </td>
                            <td>@vehicle.Brand.BrandName</td>
                            <td>@vehicle.Model.ModelName</td>
                            <td>@vehicle.Year</td>
                            <td>@vehicle.LicensePlate</td>
                            <td>@vehicle.Mileage</td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => EditVehicle(vehicle)">Edit</button>
                        @* <button class="btn btn-danger" @onclick="() => DeleteVehicle(vehicle.Id)">Delete</button> *@
                                @* <button class="btn btn-info" @onclick="() => ShowVehicleDetail(vehicle.Id)">Detail</button> *@
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>




